
.flex-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-group {
    padding: 5px;

    .is-center {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .is-left {
      justify-content: flex-start;
      text-align: left;
    }
    
    .is-right {
      justify-content: flex-end;
      text-align: right;
    }
}

.flexrow,
.flexcol {
  .is-narrow > * {
    flex: 0;
  }

  .is-nowrap {
    flex-wrap: nowrap;
  }

  .is-center {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .is-left {
    justify-content: flex-start;
    text-align: left;
  }
  
  .is-right {
    justify-content: flex-end;
    text-align: right;
  }

}