.grid {
  display: grid;
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

@for $i from 1 through 12 {
  .grid-#{$i}col {
    grid-column: span #{$i} / span #{$i};
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
  }
}
