.actor {
    img.character-portrait {
        $portrait-margin: 8px;
        $portrait-size: 200px - $portrait-margin;
        width: $portrait-size;
        height: $portrait-size;
        margin: $portrait-margin;
    }

    ol.item-list {
        padding: 0;  
        
    }

    .item {
        align-items: center;
    }

    .item-image {
        flex: 0;
        min-width: 24px;
        margin-right: 2px;
        margin-top: 1px;
    }
    .item-name {
        flex: 2;
    }
    .item-note {
        flex: 4;
    }
    .item-level {
        flex: 0.5;
        text-align: center;
    }
    .item-points {
        flex: 0.5;
        text-align: center;
    }
    .item-controls {
        flex: 1;
        text-align: right;
    }
}
