.skill-sheet {
    .sheet-header {
        flex: 0;
    }

    .sheet-body {
        flex: 1;
    }

    .skill-level {
        $side-margin: 8px;
        margin-left: $side-margin;
        margin-right: $side-margin;

        label {
            $label-padding: 0.2em;
            padding-left: $label-padding;
            padding-right: $label-padding;
        }
    }

    input.short-input {
        $input-width: 2em;
        min-width: $input-width;
        width: $input-width;
        max-width: $input-width;
        text-align: center;
    }
}