/* ------------------------------------ */
/*				   Sass					*/
/* This is your Sass entry file			*/
/* ------------------------------------ */

.andior-gurps {
    @import 'styles/global/grid';
    @import 'styles/global/flex';

    @import 'styles/actor';
    @import 'styles/item';

    input.reference-input {
        margin-left: 0.2em;
        min-width: 3.5em;
        max-width: 3.5em;
    }

    .editor-container {
        height: 80%;
        overflow-y: auto;
    }

    .editor {
        height: 85%;
    }
    
    .sheet-header,
    .sheet-tabs {
        flex: 0 !important;
    }

}